h1 Log in
p
	span available user/password are : (may be empty)
	for user in users
		li #{user.username} / #{user.password}

form(method="POST", action="/session")
	p
		label(for="username") User name:<br />
		input#username(name="username")
	p
		label(for="password") Password:<br />
		input#password(type="password", name="password")
	p
		input(type="submit", value="Log in");