h1 New Article

form(method="POST", action="/articles")
	p
		label(for="title") Title<br />
		input#title(name="title")
	p
		label(for="body") Body<br />
		textarea#body(name="body")
	p
		input(type="submit", value="Create")