// Users list with paging in views/users/index.jade.
extends ../layout

block content
	h1 Users

	p 
		a(href="/users/new") Create new profile
	hr
	h2 Users list
	ul
		- users.forEach(function(user) {
			li
				a(href="/users/" + encodeURIComponent(user.username))= user.full_name
		- })
	br
	- if (page>0) {
		a(href="?page=" + (page -1)) Previous
		&nbsp;
	- }

	- if (!lastPage){
		a(href="?page=" + (page + 1)) Next		
	- }