h1= title

form(method="POST", action="/users")
  p
    label(for="username") Username<br />
    input#username(name="username")
  p
    label(for="full_name") Full name (first and last)<br />
    input#full_name(name="full_name")
  p
    label(for="email") Email (login@domain.tld) <br/>
    input#email(name="email")
  p
    label(for="password") Password (mandatory field)<br />
    input#password(type="password", name="password")
  p
    label(for="gender") Gender (M or F)<br/>
    input#gender(name="gender")
  p
    label(for="birthday") Birthday (YYYY/MM/DD format)<br/>
    input#birthday(name="birthday")
  p
    label(for="twitter") Twitter handle (without @)<br/>
    input#twitter(name="twitter")
  p
    label(for="bio") Bio<br />
    textarea#bio(name="bio")
  p
    input(type="submit", value="Create")